fieldset {
  --fontsize: 12rem;
  font-size: var(--fontsize);
  position: relative;
  min-height: 10vh;
  margin: 0 10rem;
}
fieldset legend span {
  opacity: 0.5;
  margin-left: calc(var(--fontsize) * 0.3);
}
fieldset .btnBox {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 覆盖整个 fieldset 区域 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 提升层级，确保位于内部内容之上 */
  z-index: 1;
  background-color: var(--edit-preview-btnBox);
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionsBox {
  --gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
  padding: var(--gap) 0;
}
.optionsBox .option {
  min-width: 20vw;
  height: calc(var(--fontsize) * 2);
  border: 1rem solid var(--gray);
  padding: calc(var(--gap) * 0.5) calc(var(--gap) * 1.5);
  border-radius: var(--gap);
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 3);
}
.optionsBox .checked {
  background-color: var(--rgba-blue-5);
  border-color: var(--rgba-blue-30);
  color: var(--rgba-blue-60);
}
input[type='range'].slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
  width: 20vw;
  height: 15rem;
  padding: 0!important;
  overflow: hidden;
}
input[type='range'].slider::-webkit-slider-runnable-track {
  --progress: calc(var(--slide-value) * 100% / var(--total-value));
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  background: linear-gradient(to right, var(--rgba-blue-60) var(--progress), var(--rgba-gray-40) var(--progress));
}
input[type='range'].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5rem;
  height: 100%;
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 0 0 5rem 1rem var(--black);
  border-radius: 2rem;
}
