.entire {
  --width: 100vw;
  --height: 95vh;
  --hover-color: var(--gray-300);
  display: grid;
  grid-template-rows: 40vh auto;
  width: var(--width);
  height: var(--height);
  position: relative;
}
.entire .edit {
  --bgc-color-edit: var(--blue-600);
  font-size: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgc-color-edit);
  color: var(--white);
  font-weight: 600;
}
.entire .edit button {
  --font-size: 20rem;
  --color: var(--blue-700);
  font-size: var(--font-size);
  padding: 10rem 30rem;
  border-radius: calc(var(--font-size) + 10rem*2);
  background-color: var(--white);
  border: none;
  cursor: pointer;
  color: var(--color);
  transition: all 0.22s;
}
.entire .edit button:hover {
  background-color: var(--hover-color);
}
.entire .myCreation {
  --bgc-color-myCreation: hsl(0, 0%, 93%);
  background-color: var(--bgc-color-myCreation);
  font-size: 20rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: 15vh auto;
  align-items: center;
  box-sizing: border-box;
  padding: 0 25rem;
}
.entire .myCreation .createdContent {
  display: grid;
  grid-template-columns: repeat(3, auto);
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 0 20rem 0;
  height: 100%;
}
.entire .myCreation .createdContent div {
  box-sizing: border-box;
  display: flex;
  width: 28vw;
  font-size: 16rem;
  background-color: var(--white);
  border-radius: 20rem;
  padding: 10rem 0 0 15rem;
  cursor: pointer;
  transition: all 0.22s;
}
.entire .myCreation .createdContent div:hover {
  box-shadow: 0 0 10rem 10rem var(--hover-color);
}
